################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.deps
/.objs
/.vs
/Debug
/x64/Debug
/allBalances.txt
